<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controlers.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>controlers.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPost</servlet-name>
        <servlet-class>controlers.AgregarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlers.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>controlers.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>controlers.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPost</servlet-name>
        <url-pattern>/agregar_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
